{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <h1>Add food for meal</h1>
    <div class="row">
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-success" href="{{ url_for('scan', meal_id=meal.id) }}">
                <h6 class="display-1">
                    <i class="bi bi-upc-scan"></i>
                </h6>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text" id="search_icon"><i class="bi bi-search"></i></span>
                <input id="food_lookup_input" type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search_icon" onblur="food_lookup()">
            </div>
        </div>
    </div>
    <div id="food_list_container">

        {% for food in foods %}
            <div class="row">
                <div class="col mt-2">
                    <div class="card card-body">
                        <a href="{{ url_for('edit_food',food_id=food.id) }}">{{ food.name }}</a> <a href="{{ url_for('addfood', meal_id=meal.id, food_id=food.id) }}">Add</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

  
  
{% endblock %}
