{% extends "base.html" %}

{% block content %}

<div class="container mt-2">
    <div class="row">
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-success" href="{{ url_for('scan', meal_id=meal.id) }}">
                <h6 class="display-1">
                    <i class="bi bi-upc-scan"></i>
                </h6>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text" id="search_icon"><i class="bi bi-search"></i></span>
                <input id="food_lookup_input" type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search_icon" onblur="food_lookup()">
            </div>
        </div>
    </div>
    <div id="food_list_container">

        {% for food in foods %}
            <div class="row">
                <div class="col mt-2">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-10 ">
                                <a class="text-dark" href="{{ url_for('edit_food',food_id=food.id) }}"><h5 class="m-0">{{ food.name }}</h5></a>
                            </div>
                            <div class="col">
                                <a class="text-dark" href="{{ url_for('addfood', meal_id=meal.id, food_id=food.id) }}">
                                    <h5 class="m-0"><i class="bi bi-plus-square"></i></h5>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="text-muted">{{ food.brand }}, {{ food.nutrition()['calories']|round }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

  
  
{% endblock %}
