{% extends "base.html" %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<div class="container mt-2">
    <div id="date_select_card" class="card bg-success text-center">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    From
                    <input style="text-align: center;" class="form-control" type="date" id="date-select" value="" onchange="">
                </div>
                <div class="col">
                    To
                    <input style="text-align: center;" class="form-control" type="date" id="date-select" value="" onchange="">
                </div>
            </div>
        </div>
    </div>

    <canvas id="myChart" width="400" height="400"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            {% for label in labels %}
                "{{ label }}",
            {% endfor %}
        ],
        datasets: [{
            label: 'Calories kcal',
            data: [
                {% for value in values %}
                    "{{ value }}",
                {% endfor %}
            ],
            backgroundColor: [
                {% for colour in colors %}
                    "{{ color }}",
                {% endfor %}
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                max: {{ current_user.get_nutrition_goal('calories')}}

            }
        }
    }
});
</script>

</div>
  
{% endblock %}
