{% extends "base.html" %}

{% block content %}

<div class="container mt-2">
    <div id="date_select_card" class="card bg-success text-center">
        <div class="card-body">
            <div class="row">
                <div class="col-2 p-0">
                    <a class="btn btn-outline-light" onclick="date_button_change('minus')"><i class="bi bi-arrow-left"></i></a>
                </div>
                <div class="col p-0">
                    <input style="text-align: center;" class="form-control" type="date" id="date-select" value="{{diary_entry.day}}" onchange="date_select_change(this)">
                </div>
                <div class="col-2 p-0">
                    <a class="btn btn-outline-light" onclick="date_button_change('add')"><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    Total calories
                </div>
                <div class="col">
                    {% if 'calories' in diary_entry.nutrition() %}
                        <b>{{ diary_entry.nutrition()['calories']|int }}</b>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>

    {% for meal in diary_entry.meals %}
        <div class="card mt-2">
            <div class="card-header bg-success text-light">
                <div class="row">
                    <div class="col-10">
                        {{ meal.category|capitalize }}
                    </div>
                    <div class="col">
                        {% if 'calories' in meal.nutrition() %}
                            <b>{{ meal.nutrition()['calories']|int }}</b>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% for entry in meal.foodentries %}
                    <div class="row">
                        <div class="col-10">
                            <a class="link-success" href="{{ url_for('edit_food',food_id=entry.food.id) }}">{{ entry.food.name }}</a>{% if entry.food.brand %}, <span class="text-muted">{{ entry.food.brand }}</span>{% endif %}
                        </div>
                        <div class="col">
                            {% if 'calories' in meal.nutrition() %}
                                {{ entry.nutrition()['calories']|int}}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <a style="text-decoration: none;" class="link-success" href="{{ url_for('addmeal', meal_id=meal.id) }}">Add food</a>
            </div>
        </div>
    {% endfor %}

    <div class="card mt-2">
        <div class="card-header">
            <a style="text-decoration: none;" class="link-success" data-bs-toggle="collapse" href="#addMealCollapse" aria-expanded="false" aria-controls="addMealCollapse">Add meal</a>
        </div>
        <div class="collapse" id="addMealCollapse">
            <div class="card-body">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-floating mb-1">
                        {{ form.category(size=36, class_='form-control', placeholder="category", autocomplete="off") }}
                        {{ form.category.label(class_='text-muted') }}

                        {% for error in form.category.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-success btn-lg bg-gradient") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  
  
{% endblock %}
