{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-2 text-center align-items-center">
        <div class="col">
            <a class="text-success" href="{{ url_for('diary', indate=indate) }}">< Back</a>
        </div>
        <div class="col">
            <h2>Edit food</h2>
        </div>
        <div class="col">
            
        </div>
        
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="form-floating mb-1">
                <input class="form-control" data-uuid="{{ food.id }}" type="text" value="{{ food.name }}" placeholder="name" onblur="edit_food(this, 'Food', 'name')">
                <label class="text-muted">name</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-1">
                <input class="form-control" data-uuid="{{ food.id }}" type="text" value="{{ food.brand }}" placeholder="brand" onblur="edit_food(this, 'Food', 'brand')">
                <label class="text-muted">brand</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-1">
                <input class="form-control" data-uuid="{{ food.id }}" type="number" value="{{ food.serving_size }}" placeholder="serving size (g)" onchange="edit_food_size(this)" onblur="edit_food_size(this)">
                <label class="text-muted">serving size (g)</label>
            </div>
            
        </div>
    </div>

    <div class="card card-body p-1">
        <div class="row mt-2 mb-1 text-center text-decoration-underline ps-1">
            <div class="col">
                nutrition
            </div>
            <div class="col-4">
                per 100g
            </div>
            <div class="col">
                per serving
            </div>
        </div>

        {% for record in food.nutrition_records %}
            <div class="row mb-1 align-items-center text-center ps-1">
                <div class="col">
                    {{ record.name }}
                </div>
                <div class="col-4">
                    <input class="form-control" data-uuid="{{ record.id }}" type="number" value="{{ record.per_100 | round(3)}}" step=".01" onblur="edit_nutrition_per100(this)">
                </div>
                <div class="col">
                    <input class="form-control" data-uuid="{{ record.id }}" type="number" value="{{ record.amount | round(2) }}" step=".01" disabled>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

  
  
{% endblock %}
