{% extends "base.html" %}

{% block content %}

<div class="container text-center d-flex align-items-center bg-success bg-gradient" style="height: 100vh">
    <div class="col-1 col-lg-3"></div>
    <div class="col-10 col-lg-6">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class='alert alert-success'>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3 fw-light">LOGIN</h3>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-1">
                        {{ form.username(size=32, class_='form-control', placeholder="username", autocomplete="off") }}
                        {{ form.username.label(class_='text-muted') }}

                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-1">
                        {{ form.password(size=32, class_='form-control', placeholder="password", autocomplete="off") }}
                        {{ form.password.label(class_='text-muted') }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-success btn-lg bg-gradient") }}
                        <span class="text-muted">Not registered? <a class="link-success" href="{{ url_for('register') }}">Register</a></span>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-1 col-lg-3"></div>
</div>

  
  
{% endblock %}
