{% extends "base.html" %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<div class="container mt-2">
    <div id="date_select_card" class="card bg-success text-center">
        <div class="card-body">
            <div class="row">
                <div class="col-2 p-0">
                    <a class="btn btn-outline-light" onclick="date_button_change(url='/diary/nutrition/',mode='minus')"><i class="bi bi-arrow-left"></i></a>
                </div>
                <div class="col p-0">
                    <input style="text-align: center;" class="form-control" type="date" id="date-select" value="{{diary_entry.day}}" onchange="date_select_change(this,'/diary/nutrition/')">
                </div>
                <div class="col-2 p-0">
                    <a class="btn btn-outline-light" onclick="date_button_change(url='/diary/nutrition/',mode='add')"><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <canvas id="myChart" width="400" height="400"></canvas>

    <div class="card card-body mt-2 pt-1">
        <div class="row mb-2 text-muted">
            <div class="col-5">
            </div>
            <div class="col p-0">
                Total
            </div>
            <div class="col p-0">
                Goal
            </div>
            <div class="col p-0">
                Left
            </div>
        </div>
        {% for k,v in diary_entry.nutrition().items() %}
            <div class="row">
                <div class="col-5 text-truncate">
                    {{ k }}
                </div>
                <div class="col p-0">
                    <!-- Total -->
                    {{ v|round(2) }}
                </div>
                <div class="col p-0">
                    <!-- Goal -->
                    {{ current_user.get_nutrition_goal(k)|round(2) }}
                </div>
                <div class="col p-0">
                    <!-- Left -->
                    {{ current_user.get_nutrition_goal(k) - v|round(2) }}
                </div>
            </div>
            <div class="row mb-3 mt-1">
                <div class="col">
                    <div class="progress" style="height: 4px;">
                        {% set bg = "danger" if (v / current_user.get_nutrition_goal(k)) * 100 > 75 else "success" %}
                        <div class="progress-bar bg-{{ bg }}" role="progressbar" style="width: {{ (v / current_user.get_nutrition_goal(k)) * 100 }}%;" aria-valuenow="{{ v }}" aria-valuemin="0" aria-valuemax="{{ current_user.get_nutrition_goal(k) }}"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    const data = {
        labels: [
            'Carbohydrates',
            'Protein',
            'Fat'
        ],
        datasets: [{
            data: [{{ diary_entry.nutrition().get('carbohydrates', 0) }}, {{ diary_entry.nutrition().get('protein', 0) }}, {{ diary_entry.nutrition().get('fat', 0) }}],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };

    const config = {
        type: 'doughnut',
        data: data,
    };

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, config);
</script>
  
{% endblock %}
